require 'date'
<!DOCTYPE hmtl>
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    <% date = Time.now %>
    <% date_display = date.strftime('%a, %b %d, %Y')%>
    <p><%= "The date is" + date_display %></p>
  </body>

</html>
